@import "./index.scss";

.App {
  display: inline-grid;
  grid-template-columns: 1fr 3fr;
  width: 56.25rem;
  column-gap: 1.5rem;
  font-weight: 500;

  .profile {
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;
    border-radius: 1rem;

    .description {
      padding: 1rem 1rem 4rem 1rem;
      background-color: hsl(246, 80%, 60%);
      border-radius: 1rem;

      img {
        height: 4rem;
        border: white solid 1px;
        border-radius: 1m;
        margin: 1rem 0;
      }

      h1 {
        font-weight: 500;
      }
    }

    .timeframe-selector {
      padding: 2rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;

      button {
        background-color: unset;
        font-weight: 1.125rem;
        color: $pale-blue;
        border: 0;

        &.active {
          color: white;
        }
      }
    }
  }

  .card-content {
    background-color: $dark-blue;
    border-radius: 1rem;

    &:hover {
      background-color: hsl(235, 45%, 61%);
    }
  }

  .tracker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    .card {
      border-radius: 1rem;

      &.work {
        background-image: url("./assets/images/icon-work.svg");
        background-repeat: no-repeat;
        background-color: $work;
        background-position: top right;
      }

      &.play {
        background-image: url("./assets/images/icon-play.svg");
        background-repeat: no-repeat;
        background-color: $play;
        background-position: top right;
      }

      &.study {
        background-image: url("./assets/images/icon-study.svg");
        background-repeat: no-repeat;
        background-color: $study;
        background-position: top right;
      }

      &.exercise {
        background-image: url("./assets/images/icon-exercise.svg");
        background-repeat: no-repeat;
        background-color: $exercise;
        background-position: top right;
      }

      &.social {
        background-image: url("./assets/images/icon-social.svg");
        background-repeat: no-repeat;
        background-color: $social;
        background-position: top right;
      }

      &.self-care {
        background-image: url("./assets/images/icon-self-care.svg");
        background-repeat: no-repeat;
        background-color: $self-care;
        background-position: top right;
      }
    }

    .card-content {
      padding: 2rem;
      margin-top: 2.8rem;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          margin-block-start: 0;
          margin-block-end: 0;
          font-size: 1.125rem;
          font-weight: 500;
        }

        span {
          font-size: 1.5rem;
        }
      }

      .info {
        h3 {
          font-size: 2.5rem;
          margin-block-start: 0em;
          margin-block-end: 0.5em;
          font-weight: 300;
        }
        span {
          color: $pale-blue;
        }
      }
    }
  }
}
